<div class="wrapper">
    <div class="first_wrapper">
      <div class="filter_div">Brand</div>
      <div class="d-flex align-content-start flex-wrap">
        <div *ngFor="let item of listBrand">
          <input type="checkbox" [checked]="item.id" class="btn-check" />
          <label class="btn btn-outline-dark btn-sm my-1 mx-1">{{item.name}}</label>
        </div>
      </div>
    </div>
    <div class="first_wrapper">
      <div class="filter_div">Category</div>
      <div class="d-flex align-content-start flex-wrap">
        <div *ngFor="let item of listCate">
          <input type="checkbox" class="btn-check" />
          <label class="btn btn-outline-dark btn-sm my-1 mx-1">{{item.name}}</label>
        </div>
      </div>
    </div>
    <!-- <div class="first_wrapper">
      <div class="filter_div">Price</div>
      <div class="d-flex align-content-start flex-wrap">
        <div>
          <input type="checkbox" class="btn-check" />
          <label class="btn btn-outline-dark btn-sm my-1 mx-1"></label>
        </div>
      </div>
    </div> -->
  </div>